.wrapper {
    position: relative;
    width: 350px;
    height: 250px;
    border: 4px solid #000;
    border-radius: 20px;
    margin: 150px auto;
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 10px #abbfc0;
  }
  
  .start {
    margin: 100px;
    background: #bd6969;
    color: white;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: 0 0 70px #b8c0abe0;
    font-family: "Courier New", Courier, monospace;
  }
  